html {
  font-family: sans-serif;
}

form {
  margin: 2rem auto;
  text-align: center;
}

#map {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  height: 20rem;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
  width: 90%;
}
